{% extends 'base.html' %}

{% block headersection %}

<section class="header-container">
  <img class="profile-image" src="https://github.com/gallgith/dearchatbot.io/blob/main/download.png?raw=true" alt="" />
    </div>
    <div class="content-text">
        <h2 style="margin-top: 40px;" id="typing-text"> Dear ChatBot, </h2>
    </div>

</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
    <div class="content-text">
        </li><a class="btn btn-primary" href="{{ url_for('intro') }}">Intro<i class="fas fa-arrow-right"></i></a></li>
        </li><a class="btn btn-primary" href="{{ url_for('finale') }}">Finale<i class="fas fa-arrow-right"></i></a></li>
        </div>
    </section>
{% endblock %}